*
!/README.md
!/notebook/
!/notebook/*
!/desktop5800x/
!/desktop5800x/*
!/lxc/
!/lxc/*
!/docker/
!/docker/*
!/docker/**/*
!/webtop-kde/
!/webtop-kde/*
!/webtop-stack/
!/webtop-stack/*
!/etc-config/
!/etc-config/*
!/.gitignore
!/desktop5800x/
!/desktop5800x/*
!/lxc/
!/lxc/*
!/docker/
!/docker/*
!/docker/**/*
